body {
    background-color: #cce8dc;
}


h1 {
    color: #661c02;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: left;
    font-size: ;
}

h2 {
    color: #263831;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: left;
    font-size: ;
}

ul {
    color: #4f5653;
    font-family: Helvetica, Sans-Serif;
    text-align: left;
    font-size: ;

}
